/*-------------------flame-1----------------- */
@-webkit-keyframes flame-1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -moz-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -ms-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -o-transform: rotate(0deg) scale(1.02) translateY(-1px);
    transform: rotate(0deg) scale(1.02) translateY(-1px); }
  20% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -moz-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -ms-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -o-transform: rotate(-2deg) scale(1.03) translateY(1px);
    transform: rotate(-2deg) scale(1.03) translateY(1px); }
  60% {
    opacity: 0.9;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); }
  80% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(0.97) translateY(1px);
    -moz-transform: rotate(1deg) scale(0.97) translateY(1px);
    -ms-transform: rotate(1deg) scale(0.97) translateY(1px);
    -o-transform: rotate(1deg) scale(0.97) translateY(1px);
    transform: rotate(1deg) scale(0.97) translateY(1px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1) translateY(0px);
    -moz-transform: rotate(-1deg) scale(1) translateY(0px);
    -ms-transform: rotate(-1deg) scale(1) translateY(0px);
    -o-transform: rotate(-1deg) scale(1) translateY(0px);
    transform: rotate(-1deg) scale(1) translateY(0px); } }

@-moz-keyframes flame-1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -moz-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -ms-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -o-transform: rotate(0deg) scale(1.02) translateY(-1px);
    transform: rotate(0deg) scale(1.02) translateY(-1px); }
  20% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -moz-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -ms-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -o-transform: rotate(-2deg) scale(1.03) translateY(1px);
    transform: rotate(-2deg) scale(1.03) translateY(1px); }
  60% {
    opacity: 0.9;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); }
  80% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(0.97) translateY(1px);
    -moz-transform: rotate(1deg) scale(0.97) translateY(1px);
    -ms-transform: rotate(1deg) scale(0.97) translateY(1px);
    -o-transform: rotate(1deg) scale(0.97) translateY(1px);
    transform: rotate(1deg) scale(0.97) translateY(1px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1) translateY(0px);
    -moz-transform: rotate(-1deg) scale(1) translateY(0px);
    -ms-transform: rotate(-1deg) scale(1) translateY(0px);
    -o-transform: rotate(-1deg) scale(1) translateY(0px);
    transform: rotate(-1deg) scale(1) translateY(0px); } }

@-ms-keyframes flame-1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -moz-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -ms-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -o-transform: rotate(0deg) scale(1.02) translateY(-1px);
    transform: rotate(0deg) scale(1.02) translateY(-1px); }
  20% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -moz-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -ms-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -o-transform: rotate(-2deg) scale(1.03) translateY(1px);
    transform: rotate(-2deg) scale(1.03) translateY(1px); }
  60% {
    opacity: 0.9;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); }
  80% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(0.97) translateY(1px);
    -moz-transform: rotate(1deg) scale(0.97) translateY(1px);
    -ms-transform: rotate(1deg) scale(0.97) translateY(1px);
    -o-transform: rotate(1deg) scale(0.97) translateY(1px);
    transform: rotate(1deg) scale(0.97) translateY(1px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1) translateY(0px);
    -moz-transform: rotate(-1deg) scale(1) translateY(0px);
    -ms-transform: rotate(-1deg) scale(1) translateY(0px);
    -o-transform: rotate(-1deg) scale(1) translateY(0px);
    transform: rotate(-1deg) scale(1) translateY(0px); } }

@-o-keyframes flame-1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -moz-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -ms-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -o-transform: rotate(0deg) scale(1.02) translateY(-1px);
    transform: rotate(0deg) scale(1.02) translateY(-1px); }
  20% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -moz-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -ms-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -o-transform: rotate(-2deg) scale(1.03) translateY(1px);
    transform: rotate(-2deg) scale(1.03) translateY(1px); }
  60% {
    opacity: 0.9;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); }
  80% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(0.97) translateY(1px);
    -moz-transform: rotate(1deg) scale(0.97) translateY(1px);
    -ms-transform: rotate(1deg) scale(0.97) translateY(1px);
    -o-transform: rotate(1deg) scale(0.97) translateY(1px);
    transform: rotate(1deg) scale(0.97) translateY(1px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1) translateY(0px);
    -moz-transform: rotate(-1deg) scale(1) translateY(0px);
    -ms-transform: rotate(-1deg) scale(1) translateY(0px);
    -o-transform: rotate(-1deg) scale(1) translateY(0px);
    transform: rotate(-1deg) scale(1) translateY(0px); } }

@keyframes flame-1 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -moz-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -ms-transform: rotate(0deg) scale(1.02) translateY(-1px);
    -o-transform: rotate(0deg) scale(1.02) translateY(-1px);
    transform: rotate(0deg) scale(1.02) translateY(-1px); }
  20% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -moz-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -ms-transform: rotate(-2deg) scale(1.03) translateY(1px);
    -o-transform: rotate(-2deg) scale(1.03) translateY(1px);
    transform: rotate(-2deg) scale(1.03) translateY(1px); }
  60% {
    opacity: 0.9;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); }
  80% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(0.97) translateY(1px);
    -moz-transform: rotate(1deg) scale(0.97) translateY(1px);
    -ms-transform: rotate(1deg) scale(0.97) translateY(1px);
    -o-transform: rotate(1deg) scale(0.97) translateY(1px);
    transform: rotate(1deg) scale(0.97) translateY(1px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1) translateY(0px);
    -moz-transform: rotate(-1deg) scale(1) translateY(0px);
    -ms-transform: rotate(-1deg) scale(1) translateY(0px);
    -o-transform: rotate(-1deg) scale(1) translateY(0px);
    transform: rotate(-1deg) scale(1) translateY(0px); } }

/*-------------------flame-2----------------- */
@-webkit-keyframes flame-2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(0.98) translateY(1px);
    -moz-transform: rotate(0deg) scale(0.98) translateY(1px);
    -ms-transform: rotate(0deg) scale(0.98) translateY(1px);
    -o-transform: rotate(0deg) scale(0.98) translateY(1px);
    transform: rotate(0deg) scale(0.98) translateY(1px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -moz-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -ms-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -o-transform: rotate(2deg) scale(0.98) translateY(-1px);
    transform: rotate(2deg) scale(0.98) translateY(-1px); }
  40% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(2deg) scale(0.96) translateY(0px);
    -moz-transform: rotate(2deg) scale(0.96) translateY(0px);
    -ms-transform: rotate(2deg) scale(0.96) translateY(0px);
    -o-transform: rotate(2deg) scale(0.96) translateY(0px);
    transform: rotate(2deg) scale(0.96) translateY(0px); }
  80% {
    opacity: 0.7;
    -webkit-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(-2deg) scale(1.02) translateY(2px);
    transform: rotate(-2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -moz-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -ms-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -o-transform: rotate(1deg) scale(1.01) translateY(-1px);
    transform: rotate(1deg) scale(1.01) translateY(-1px); } }

@-moz-keyframes flame-2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(0.98) translateY(1px);
    -moz-transform: rotate(0deg) scale(0.98) translateY(1px);
    -ms-transform: rotate(0deg) scale(0.98) translateY(1px);
    -o-transform: rotate(0deg) scale(0.98) translateY(1px);
    transform: rotate(0deg) scale(0.98) translateY(1px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -moz-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -ms-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -o-transform: rotate(2deg) scale(0.98) translateY(-1px);
    transform: rotate(2deg) scale(0.98) translateY(-1px); }
  40% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(2deg) scale(0.96) translateY(0px);
    -moz-transform: rotate(2deg) scale(0.96) translateY(0px);
    -ms-transform: rotate(2deg) scale(0.96) translateY(0px);
    -o-transform: rotate(2deg) scale(0.96) translateY(0px);
    transform: rotate(2deg) scale(0.96) translateY(0px); }
  80% {
    opacity: 0.7;
    -webkit-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(-2deg) scale(1.02) translateY(2px);
    transform: rotate(-2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -moz-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -ms-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -o-transform: rotate(1deg) scale(1.01) translateY(-1px);
    transform: rotate(1deg) scale(1.01) translateY(-1px); } }

@-ms-keyframes flame-2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(0.98) translateY(1px);
    -moz-transform: rotate(0deg) scale(0.98) translateY(1px);
    -ms-transform: rotate(0deg) scale(0.98) translateY(1px);
    -o-transform: rotate(0deg) scale(0.98) translateY(1px);
    transform: rotate(0deg) scale(0.98) translateY(1px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -moz-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -ms-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -o-transform: rotate(2deg) scale(0.98) translateY(-1px);
    transform: rotate(2deg) scale(0.98) translateY(-1px); }
  40% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(2deg) scale(0.96) translateY(0px);
    -moz-transform: rotate(2deg) scale(0.96) translateY(0px);
    -ms-transform: rotate(2deg) scale(0.96) translateY(0px);
    -o-transform: rotate(2deg) scale(0.96) translateY(0px);
    transform: rotate(2deg) scale(0.96) translateY(0px); }
  80% {
    opacity: 0.7;
    -webkit-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(-2deg) scale(1.02) translateY(2px);
    transform: rotate(-2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -moz-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -ms-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -o-transform: rotate(1deg) scale(1.01) translateY(-1px);
    transform: rotate(1deg) scale(1.01) translateY(-1px); } }

@-o-keyframes flame-2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(0.98) translateY(1px);
    -moz-transform: rotate(0deg) scale(0.98) translateY(1px);
    -ms-transform: rotate(0deg) scale(0.98) translateY(1px);
    -o-transform: rotate(0deg) scale(0.98) translateY(1px);
    transform: rotate(0deg) scale(0.98) translateY(1px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -moz-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -ms-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -o-transform: rotate(2deg) scale(0.98) translateY(-1px);
    transform: rotate(2deg) scale(0.98) translateY(-1px); }
  40% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(2deg) scale(0.96) translateY(0px);
    -moz-transform: rotate(2deg) scale(0.96) translateY(0px);
    -ms-transform: rotate(2deg) scale(0.96) translateY(0px);
    -o-transform: rotate(2deg) scale(0.96) translateY(0px);
    transform: rotate(2deg) scale(0.96) translateY(0px); }
  80% {
    opacity: 0.7;
    -webkit-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(-2deg) scale(1.02) translateY(2px);
    transform: rotate(-2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -moz-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -ms-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -o-transform: rotate(1deg) scale(1.01) translateY(-1px);
    transform: rotate(1deg) scale(1.01) translateY(-1px); } }

@keyframes flame-2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scale(0.98) translateY(1px);
    -moz-transform: rotate(0deg) scale(0.98) translateY(1px);
    -ms-transform: rotate(0deg) scale(0.98) translateY(1px);
    -o-transform: rotate(0deg) scale(0.98) translateY(1px);
    transform: rotate(0deg) scale(0.98) translateY(1px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -moz-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -ms-transform: rotate(2deg) scale(0.98) translateY(-1px);
    -o-transform: rotate(2deg) scale(0.98) translateY(-1px);
    transform: rotate(2deg) scale(0.98) translateY(-1px); }
  40% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    -o-transform: rotate(-1deg) scale(1.01) translateY(-3px);
    transform: rotate(-1deg) scale(1.01) translateY(-3px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(2deg) scale(0.96) translateY(0px);
    -moz-transform: rotate(2deg) scale(0.96) translateY(0px);
    -ms-transform: rotate(2deg) scale(0.96) translateY(0px);
    -o-transform: rotate(2deg) scale(0.96) translateY(0px);
    transform: rotate(2deg) scale(0.96) translateY(0px); }
  80% {
    opacity: 0.7;
    -webkit-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(-2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(-2deg) scale(1.02) translateY(2px);
    transform: rotate(-2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -moz-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -ms-transform: rotate(1deg) scale(1.01) translateY(-1px);
    -o-transform: rotate(1deg) scale(1.01) translateY(-1px);
    transform: rotate(1deg) scale(1.01) translateY(-1px); } }

/*-------------------flame-3----------------- */
@-webkit-keyframes flame-3 {
  0% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1.04) translateY(3px);
    -moz-transform: rotate(0deg) scale(1.04) translateY(3px);
    -ms-transform: rotate(0deg) scale(1.04) translateY(3px);
    -o-transform: rotate(0deg) scale(1.04) translateY(3px);
    transform: rotate(0deg) scale(1.04) translateY(3px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -moz-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -ms-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -o-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    transform: rotate(-2deg) scale(0.95) translateY(-2px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(1deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(1deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(1deg) scale(1.02) translateY(2px);
    -o-transform: rotate(1deg) scale(1.02) translateY(2px);
    transform: rotate(1deg) scale(1.02) translateY(2px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -o-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    transform: rotate(-1deg) scale(0.97) translateY(-3px); }
  80% {
    opacity: 0.9;
    -webkit-transform: rotate(2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(2deg) scale(1.02) translateY(2px);
    transform: rotate(2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); } }

@-moz-keyframes flame-3 {
  0% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1.04) translateY(3px);
    -moz-transform: rotate(0deg) scale(1.04) translateY(3px);
    -ms-transform: rotate(0deg) scale(1.04) translateY(3px);
    -o-transform: rotate(0deg) scale(1.04) translateY(3px);
    transform: rotate(0deg) scale(1.04) translateY(3px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -moz-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -ms-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -o-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    transform: rotate(-2deg) scale(0.95) translateY(-2px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(1deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(1deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(1deg) scale(1.02) translateY(2px);
    -o-transform: rotate(1deg) scale(1.02) translateY(2px);
    transform: rotate(1deg) scale(1.02) translateY(2px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -o-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    transform: rotate(-1deg) scale(0.97) translateY(-3px); }
  80% {
    opacity: 0.9;
    -webkit-transform: rotate(2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(2deg) scale(1.02) translateY(2px);
    transform: rotate(2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); } }

@-ms-keyframes flame-3 {
  0% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1.04) translateY(3px);
    -moz-transform: rotate(0deg) scale(1.04) translateY(3px);
    -ms-transform: rotate(0deg) scale(1.04) translateY(3px);
    -o-transform: rotate(0deg) scale(1.04) translateY(3px);
    transform: rotate(0deg) scale(1.04) translateY(3px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -moz-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -ms-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -o-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    transform: rotate(-2deg) scale(0.95) translateY(-2px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(1deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(1deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(1deg) scale(1.02) translateY(2px);
    -o-transform: rotate(1deg) scale(1.02) translateY(2px);
    transform: rotate(1deg) scale(1.02) translateY(2px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -o-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    transform: rotate(-1deg) scale(0.97) translateY(-3px); }
  80% {
    opacity: 0.9;
    -webkit-transform: rotate(2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(2deg) scale(1.02) translateY(2px);
    transform: rotate(2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); } }

@-o-keyframes flame-3 {
  0% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1.04) translateY(3px);
    -moz-transform: rotate(0deg) scale(1.04) translateY(3px);
    -ms-transform: rotate(0deg) scale(1.04) translateY(3px);
    -o-transform: rotate(0deg) scale(1.04) translateY(3px);
    transform: rotate(0deg) scale(1.04) translateY(3px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -moz-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -ms-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -o-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    transform: rotate(-2deg) scale(0.95) translateY(-2px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(1deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(1deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(1deg) scale(1.02) translateY(2px);
    -o-transform: rotate(1deg) scale(1.02) translateY(2px);
    transform: rotate(1deg) scale(1.02) translateY(2px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -o-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    transform: rotate(-1deg) scale(0.97) translateY(-3px); }
  80% {
    opacity: 0.9;
    -webkit-transform: rotate(2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(2deg) scale(1.02) translateY(2px);
    transform: rotate(2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); } }

@keyframes flame-3 {
  0% {
    opacity: 0.6;
    -webkit-transform: rotate(0deg) scale(1.04) translateY(3px);
    -moz-transform: rotate(0deg) scale(1.04) translateY(3px);
    -ms-transform: rotate(0deg) scale(1.04) translateY(3px);
    -o-transform: rotate(0deg) scale(1.04) translateY(3px);
    transform: rotate(0deg) scale(1.04) translateY(3px); }
  20% {
    opacity: 1;
    -webkit-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -moz-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -ms-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    -o-transform: rotate(-2deg) scale(0.95) translateY(-2px);
    transform: rotate(-2deg) scale(0.95) translateY(-2px); }
  40% {
    opacity: 0.8;
    -webkit-transform: rotate(1deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(1deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(1deg) scale(1.02) translateY(2px);
    -o-transform: rotate(1deg) scale(1.02) translateY(2px);
    transform: rotate(1deg) scale(1.02) translateY(2px); }
  60% {
    opacity: 0.8;
    -webkit-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -moz-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -ms-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    -o-transform: rotate(-1deg) scale(0.97) translateY(-3px);
    transform: rotate(-1deg) scale(0.97) translateY(-3px); }
  80% {
    opacity: 0.9;
    -webkit-transform: rotate(2deg) scale(1.02) translateY(2px);
    -moz-transform: rotate(2deg) scale(1.02) translateY(2px);
    -ms-transform: rotate(2deg) scale(1.02) translateY(2px);
    -o-transform: rotate(2deg) scale(1.02) translateY(2px);
    transform: rotate(2deg) scale(1.02) translateY(2px); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -moz-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -ms-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    -o-transform: rotate(-1deg) scale(0.98) translateY(-2px);
    transform: rotate(-1deg) scale(0.98) translateY(-2px); } }

section {
  display: table;
  margin: auto;
  position: relative;
  top: 50px; }
  section svg .flame-1 {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: flame-1;
    -moz-animation-name: flame-1;
    -ms-animation-name: flame-1;
    -o-animation-name: flame-1;
    animation-name: flame-1;
    -webkit-animation-direction: ease-in-out;
    -moz-animation-direction: ease-in-out;
    -ms-animation-direction: ease-in-out;
    -o-animation-direction: ease-in-out;
    animation-direction: ease-in-out;
    transform-origin: right bottom; }
  section svg .flame-2 {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: flame-2;
    -moz-animation-name: flame-2;
    -ms-animation-name: flame-2;
    -o-animation-name: flame-2;
    animation-name: flame-2;
    -webkit-animation-direction: ease-in-out;
    -moz-animation-direction: ease-in-out;
    -ms-animation-direction: ease-in-out;
    -o-animation-direction: ease-in-out;
    animation-direction: ease-in-out;
    transform-origin: left bottom; }
  section svg .flame-3 {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: flame-3;
    -moz-animation-name: flame-3;
    -ms-animation-name: flame-3;
    -o-animation-name: flame-3;
    animation-name: flame-3;
    -webkit-animation-direction: ease-in-out;
    -moz-animation-direction: ease-in-out;
    -ms-animation-direction: ease-in-out;
    -o-animation-direction: ease-in-out;
    animation-direction: ease-in-out;
    transform-origin: right bottom; }
